body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-style: oblique;
    font-weight: 400;
    color: black;
}
.navbar{
    overflow: hidden;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
}
.navbar a:hover{
    background:black;
    background: white;
    cursor: pointer;
}
@media screen and (max-width:600px){
    .navbar a{
        float:none;
        display: block;
    }
}
.navbar a{
    float:right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}