/* Estilo para el cuerpo de la página */
body {
  font-family: Arial, sans-serif; /* Fuente del texto */
  background-color: #f2f2f2; /* Color de fondo */
  margin: 0; /* Elimina el margen predeterminado */
  padding: 0; /* Elimina el relleno predeterminado */
  display: flex; /* Utiliza el modelo de caja flexible */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Toma el 100% de la altura de la ventana */
}

/* Estilo para el contenedor principal */
.container {
  width: 350px; /* Ancho del contenedor */
  background-color: rgba(255, 255, 255, 0.4); /* Color de fondo con transparencia */
  padding: 15px; /* Espacio interno */
  border-radius: 10px; /* Borde redondeado */
  border-style: solid; /* Estilo de borde */
  border-color: #000; /* Color del borde */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  display: flex; /* Utiliza el modelo de caja flexible */
  cursor: context-menu; /* Cambia el cursor al pasar por encima */
  text-align: center; /* Alineación del texto al centro */
  align-items: center; /* Centra verticalmente */
  position: absolute; /* Posición absoluta */
  margin-left: 10px; /* Margen izquierdo */
}

/* Estilo para los títulos del formulario */
.login-form h2 {
  margin-bottom: 20px; /* Margen inferior */
  text-align: center; /* Alineación del texto al centro */
}

/* Estilo para los grupos de entrada de texto */
.input-group {
  margin-bottom: 15px; /* Margen inferior */
}

/* Estilo para las etiquetas de los grupos de entrada */
.input-group label {
  display: block; /* Muestra como bloque */
  margin-bottom: 5px; /* Margen inferior */
  font-weight: bold; /* Negrita */
}

/* Estilo para los campos de entrada */
.input-group input {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde */
  border-radius: 3px; /* Borde redondeado */
}

/* Estilo para los botones */
button {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  background-color: #bc07b9; /* Color de fondo */
  color: #fff; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 3px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

/* Estilo para los botones al pasar el ratón */
button:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón */
}

/* Estilo para el video de fondo */
.videodefondo {
  position: fixed; /* Posición fija */
  right: 0; /* Alineación a la derecha */
  bottom: 0; /* Alineación en la parte inferior */
  min-width: 100%; /* Ancho mínimo del video */
  min-height: 100%; /* Altura mínima del video */
  z-index: 0; /* Capa más baja */
}

/* Estilo para la imagen del formulario */
.imgForm {
  margin-left: 15px; /* Margen izquierdo */
  margin-top: 5px; /* Margen superior */
}
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #bc07b9;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .videodefondo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:0;
}
.imgForm{
    margin-left: 15px;
    margin-top: 5px;
}